{% extends 'cards_db/base.html' %}
{% load staticfiles %}


{% block login %}
		<p style="float:right">
		{% if user.is_authenticated %}
		Click here to <a href="/accounts/logout">Logout</a>
		{% else %}
		Click here to <a href="/accounts/login">Login</a>/<a href="/accounts/register">Register</a>
		{% endif %}
		</p>
{% endblock %}
{% block content %}
		<div id="tagline">
			<h1>Cricket Cards</h1>
			<p>
				From Our Childhood
			</p>
		</div>
		<img src="{% static 'images/test_cricket.jpg' %}" alt="test cricket image" class="figure">
{% endblock %}	


