{% extends 'cards_db/base.html' %}
{% load staticfiles %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="{%static 'js/card.js' %}"> </script>
<script src="{%static 'js/deadline.js' %}"> </script>
<script src="{%static 'js/ajax_submit.js' %}"> </script>
<script src="{%static 'js/game.js' %}"> </script>
<script src="{%static 'js/reconnecting-websocket.min.js' %}"> </script>
<link rel="stylesheet" href="{% static 'css/card_game.css' %}">
{% endblock %}	
 
{% block login %}
		<p style="float:right">
		{% if user.is_authenticated %}
		Click here to <a href="{% url 'logout' %}">Logout</a>
		{% else %}
		Click here to <a href="{% url 'login' %}">Login</a>/<a href="/accounts/register">Register</a>
		{% endif %}
		</p>
{% endblock %}

{% block content %}

{% if not messages.user_two %}

<div id="searchModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close abort" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Searching for other players...</h4>
      </div>
      <div class="modal-body">
        <p>Looking for players for a game</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default abort" data-dismiss="modal">Abort</button>
      </div>
    </div>

  </div>
</div>

{% else %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close " data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="clockdiv" class="center-block">
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<div class="wrapper">
<table class="table left">
<tbody>
{% csrf_token %}
<tr>
<td rowspan = 4><img src= "{% static 'images/noimage.jpg' %}"style = "padding: 5px" border-radius:20px> 
<p align = "center">{{ messages.user_two }} </p>
</td>

<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Matches: {{ messages.player_one }} </button> </td>
</tr>
<tr>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Runs: {{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Avg: {{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Highest Score:{{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> 100s:{{ messages.player_one }} </button>  </td>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> 50s: {{ messages.player_one }}  </button></td>
</tr>
<tr>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Wickets: {{ messages.player_one }} </button>  </td>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> BBM: {{ messages.player_one }}/{{ messages.player_one }}  </button></td>
</tr>
<tr>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Economy: {{ messages.player_one }} </button>  </td>
<td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> 5W: {{ messages.player_one }} </button></td>
</tr>
</tbody>
</table>

<table class="table right">
<tbody>
<tr>
<td rowspan = 4>  <img src={% static 'images/noimage.jpg' %} style = "padding: 5px" border-radius:20px id="image"> 
<p align = "center" id="name"> {{ messages.player_one }} </p>
</td>
<td><button type="button" id="Matches" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Matches: {{ messages.user_two }} </button> </td>
</tr>
<tr>
<td><button type="button" id="Runs" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Runs: {{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" id="Avg" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Avg: {{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" id="Highest" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Highest Score: {{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" id="100s" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> 100s: {{ messages.player_one }} </button>  </td>
<td><button type="button" id="50s" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> 50s: {{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" id="Wickets" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Wickets: {{ messages.player_one }} </button>  </td>
<td><button type="button" id="BBM" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> BBM: {{ messages.player_one }}/{{ messages.player_one }} </button></td>
</tr>
<tr>
<td><button type="button" id="Economy" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Economy: {{ messages.player_one }} </button>  </td>
<td><button type="button" id="5W" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> 5W:{{ messages.player_one }} </button></td>
</tr>
</tbody>
</table>
</div>
{% endif %}



{% endblock %}
